# Dependências
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build e saída
/.next/
/out/
/build/

# Cache de ferramentas
.eslintcache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs e editores
.vscode/
.idea/

# Next.js
next-env.d.ts

# Cobertura de testes
/coverage

# Sistema
.DS_Store
Thumbs.db
*.pem

/generated/prisma


public/videos